# Copyright (C) 2026 jetbee
# SPDX-License-Identifier: Apache-2.0
# Attach the E-ink panel as HWC display 1 once boot has completed.
# The stock ROM did this from system_server; writing epd_connect makes the
# stock HWC (its E-ink external display) connect fb1 as an external display.
# Needs fb1's epd_* sysfs nodes labelled sysfs_graphics with init allowed to
# write them (vendor-fix2), since plat policy forbids init writing plain sysfs.

on property:sys.boot_completed=1
    write /sys/class/graphics/fb1/epd_connect 1
